* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 150%;
  font-size: 16px;
}

html {
  height: 100%
}

body {
  width: 80%;
  margin: auto;
  background-color: #f6f6f8;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50%;
}

img {
  display: block;
  height: auto;
  width: 100%;
  margin: auto;
}

#headline {
  text-align: center;
  width: 80%;
  max-width: 300px;
  margin: auto;
}

nav {
  display: none;
}

button {
  background-color: inherit;
  width: 100px;
  height: 50px;
  margin: 5px;
  border-radius: 3px;
}

#icon-menu i {
  font-size: 30px;
}

#menu-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  margin: 30px auto;
  list-style: none;
  max-width: 300px;
}

#menu-icons i {
  font-size: 3em;
}

.technology-used-icons {
  background-color: #f6f6f8;
  width: 100%;
  list-style: none;
  padding: 0;
}

.technology-used-icons td {
  text-align: center;
  padding: 10px 0;
}

.technology-used-icons i {
  font-size: 3.5em;
}

h1 {
  font-size: 1.2em;
  padding: 10px;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  margin: 15px 0;
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: underline;
}
h4 {
  text-align: center;
  margin: auto;
  max-width: 500px;
  padding-bottom: 10px;
}

.primary {
  height: auto;
  background-color: white;
  min-width: 250px;
  width: 100%;
  margin: 10px auto;
  padding: 3%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#icon-menu {
  order: 2;
}

.portfolio-photo {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.portfolio-wrap {
  border: 1px solid black;
  width: auto;
  height: auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio-photo:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.red {
  font-size: 1.1em;
  color: #c53211;
}

#portfolio p {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

#portfolio ul {
  display: flex;
  list-style: none;
  max-width: 300px;
  margin: 3% auto;
  padding: 5px;
}

#portfolio li {
  justify-content: space-evenly;
  margin: auto;
}

#portfolio section {
  width: 85%;
  margin: 30px auto;
}

#portrait {
  margin: 10% auto;
  width: 70%;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
}


hr {
  width: 90%;
  margin: auto;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Bounce Scroll Down Arrow: */
a { color: black; text-decoration: none; }

.arrow {
  position: absolute;
  bottom: 10%;
  align-self: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Media Queries */

@media screen and (min-width: 750px) {
  * {
    font-size: 20px;
  }

  body {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    position: relative;
    top: 60px;
    width: 80%;
    margin: auto;
    background: url("/images/laptop-backgroundIMG.png") top center no-repeat;
    background-size: cover;
  }

  .arrow {
    display: none;
  }

  nav {
    display: flex;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.2s ease-in-out;
    flex-direction: row;
    justify-content: flex-end; 
    margin: 0px;
    padding: 0 5%;
    order: 0;
  }

  .nav-up {
    top: -60px;
  }

  main {
    display: flex;
    width: 100%;
    margin: 0px;
  }

  header {
    height: calc(80vh - 60px);
  }

  .primary {
    max-width: 80%;
    margin: 10px auto;
  }

  .primary p {
    max-width: 85%;
    margin: auto;
  }

  #nav-name {
    display: inline-block;
    font-size: 30px;
  }

  #headline {
    font-size: 23px;
    max-width: 500px;
  }

  #headline span {
    font-size: 28px;
  }

  h2 {
    font-size: 32px;
  }

  h3, h4 {
    font-size: 25px;
  }

  #menu-icons {
    display: flex;
  }
  
  #menu-icons i {
    color: black;
    transition: color 0.5s ease;
  }

  #menu-icons i:hover {
    color: #c53211;
  }

  .technology-used-icons li {
    text-align: center;
  }

  #portrait {
    width: 25%;
    height: auto;
    border: 3px solid black;
    border-radius: 50%;
  }

  #hero {
    position: absolute;
    top: 4%;
    display: flex;
    width: 50%;
  }

  #icon-menu i {
    font-size: 50px;
    height: 20vh;
    justify-content: space-evenly;
    order: 1;
  }

  #portfolio section {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .nav-button {
    font-size: 1.1em;
    background-color: inherit;
    color: black;
    transition: color 0.5s ease;
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0%;
  }
  
  .nav-button:hover {
    color: #c53211;
  }

  #contact {
    margin-bottom: 350px;
  }
}