* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 150%;
  font-size: 16px;
}

body {
  width: 80%;
  margin: auto;
  background-color: #f6f6f8;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

img {
  display: block;
  height: 250px;
  width: auto;
  margin: auto;
  border-radius: 3px;
}

#headline {
  text-align: center;
  width: 80%;
  max-width: 300px;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  order: 1;
}

button {
  border: 1px solid black;
  width: 130px;
  height: 30px;
  margin: 5px;
  border-radius: 20px;
}

#icon-menu i {
  font-size: 30px;
}

#menu-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  margin: 30px auto;
  list-style: none;
  max-width: 300px;
}

.technology-used-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px;
  margin: auto;
  max-width: 400px;
}

.technology-used-icons i {
  font-size: 30px;
}

h1 {
  padding: 10px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
h4 {
  margin: auto;
  padding-bottom: 10px;
  max-width: 500px;
}

.primary {
  height: auto;
  background-color: white;
  min-width: 250px;
  width: 100%;
  margin: 10px auto;
  padding: 3%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#icon-menu {
  order: 2;
}

.portfolio-photo {
  width: 80%;
  height: auto;
  max-width: 600px;
  border: 1px solid black;
}

.red {
  color: #c60021;
}

#portfolio p {
  max-width: 500px;
  margin: auto;
}

#portfolio ul {
  display: flex;
  list-style: none;
  max-width: 300px;
  margin: 3% auto;
  padding: 5px;
}

#portfolio li {
  justify-content: space-evenly;
  margin: auto;
}

.live {
  display: flex;
  flex-wrap: wrap;
  
}

.nav-button {
  border: none;
  background-color
}

#nav-name {
  display: none;
  margin-right: auto;
  font-family: 'Playfair Display', sans-serif;
  color: #f6f6f8;
  font-size: 25spx;
}

.live-button {
  background-color: #2f435e;
  color: #f6f6f8;
  border: 1px solid #c60021;
  width: 100px;
}

.nav-button:hover {
  color: #c60021;
}

/* Media Queries */

@media screen and (min-width: 550px) {
  * {
    font-size: 18px;
  }

  nav {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: flex-end; 
    background-color: #2f435e;
    margin: 0px;
    padding: 0 5%;
    order: 0;
  }

  body {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    position: relative;
    top: 60px;
    width: 80%;
    margin: auto;
  }

  .primary {
    max-width: 80%;
    margin: 10px auto;
  }

  .primary p {
    max-width: 85%;
    margin: auto;
  }

  main {
    display: flex;
    width: 100%;
    margin: 0px;
  }

  header {
    display: flex;
    flex-direction: row;
    height: calc(80vh - 60px);
    order: 0;
  }
  
  #headline {
    max-width: 500px;
  }

  #portrait {
    width: 25%;
    height: auto;
  }

  #hero {
    display: flex;
    width: 50%;
  }

  #icon-menu {
    height: 20vh;
    justify-content: space-evenly;
    order: 1;
  }

  #menu-icons {
    display: flex;
  }

  .technology-used-icons li {
    text-align: center;
  }

  #nav-name {
    display: inline-block;
  }

  h2 {
    font-size: 20px;
  }
} 

@media screen and (min-width: 750px) {
  * {
    font-size: 20px;
  }

  #nav-name {
    font-size: 30px;
  }

  #headline {
    font-size: 23px;
  }

  #headline span {
    font-size: 28px;
  }

  h2 {
    font-size: 32px;
  }

  h3, h4 {
    font-size: 25px;
  }

  .technology-used-icons i {
    font-size: 50px;
  }

  #icon-menu i {
    font-size: 50px;
  }
}